<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603641734932-22n2fe2932l8dkl59au19mub6694peiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603641734932-22n2fe2932l8dkl59au19mub6694peiq</string>
	<key>API_KEY</key>
	<string>AIzaSyCOAWbQ_p6K7k1vBtZjb4s7jp72gwSGRbE</string>
	<key>GCM_SENDER_ID</key>
	<string>603641734932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportsmax</string>
	<key>PROJECT_ID</key>
	<string>sportsmax-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsmax-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603641734932:ios:38b29cf8bff224c2</string>
	<key>DATABASE_URL</key>
	<string>https://sportsmax-app.firebaseio.com</string>
</dict>
</plist>